body::-webkit-scrollbar{
  display: none;
}
ul{
  list-style: none;
}
#label{
  color: #6b7280;
  font-size: 1rem; /* 16px */
line-height: 1.5rem; /* 24px */
}
#info{
  font-size: medium;
  font-size: 1.125rem; /* 18px */
line-height: 1.75rem; /* 28px */
}

.item{
   padding: .25rem 0rem;
  border-top: solid 1px gray;}
.spinning{
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}